footer

  .container
    .row
      p.float-left(style='margin:1rem') Partners
      a.float-left(href='http://refugeesponsorship.org/', style='margin:1rem')
        img(src='../../images/logo.png', alt='GRSI-logo', height='40rem')
      a.float-left(href='https://www.canada.ca/', style='margin:1rem')
        img(src='../../images/govt-of-canada.png', alt='CAgovt-logo')
      a.float-left(href='http://www.unhcr.org/', style='margin:1rem')
        img(src='../../images/unhcr.png', alt='UNHCR-logo')
      a.float-left(href='https://www.uottawa.ca/', style='margin:1rem')
        img(src='../../images/uOttawa.png', alt='uOttawa-logo')
      a.float-left(href='http://radcliffefoundation.org/', style='margin:1rem')
        img(src='../../images/giustra.png', alt='giustra-logo')
      a.float-left(href='https://www.opensocietyfoundations.org/', style='margin:1rem')
        img(src='../../images/open-society-fdns.png', alt='osf-logo')
    .row
      p.float-left(style='margin:1rem') © 2018, Global Refugee Sponsorship Initiative. All Rights Reserved.
    p.float-left
      a(href='/contact') Contact Us

