footer
  br
  br
  .container.text-center
    p.float-left © 2018 Team 1, Inc. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='/contact') Send feedback
      li.list-inline-item
        a(href='/contact') Issues
