extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    br
    h3 Find A Mentor: 
    p Search below to find a mentor based on desired language, country, and expertise. Find a mentor according to your personal preferences!

  form(method='get', action='/findMentor')
    input(type='hidden', name='_csrf', value=_csrf)
    if (unknownUser)
    .form-group.row
      //- .offset-md-1.
      col-md-8.p-1
        input.form-control(type='text',name='language',id='language',autocomplete='language',autofocus=true, placeholder='Language')
      col-md-8.p-1
        input.form-control(type='text',name='country',id='country',autocomplete='country',autofocus=true, placeholder='Country')
      col-md-8.p-1
        //- input.form-control(type='text',name='expertise',id='expertise',autocomplete='expertise',autofocus=true, placeholder='Expertise')
        //- select#propertyType.select.form-control.input-lg(form='addProperty', name='propertyType')
        br
    .form-group.row
      h5 Select the expertise most important to you in a mentor: 
    .form-group.row
      .col-8
        .form-check.form-check-inline
          input#invalidCheck.form-check-input(type='checkbox', value='expertise-1')
          label.form-check-label(for='invalidCheck')
            | Application process
        |
        br
        .form-check.form-check-inline
          input#invalidCheck.form-check-input(type='checkbox', value='expertise-2')
          label.form-check-label(for='invalidCheck')
            | Logistical support pre-departure
        br    
        .form-check.form-check-inline
          input#invalidCheck.form-check-input(type='checkbox', value='expertise-3')
          label.form-check-label(for='invalidCheck')
            | Logistical support post-departure
        br
        .form-check.form-check-inline
          input#invalidCheck.form-check-input(type='checkbox', value='expertise-4')
          label.form-check-label(for='invalidCheck')
            | Navigating services (e.g. health, education, etc.)
        br
        .form-check.form-check-inline
          input#invalidCheck.form-check-input(type='checkbox', value='expertise-5')
          label.form-check-label(for='invalidCheck')
            | Emotional support/guidance
        br
        .form-check.form-check-inline
          input#invalidCheck.form-check-input(type='checkbox', value='expertise-6')
          label.form-check-label(for='invalidCheck')
            | Cross-cultural communication
        br
        .form-check.form-check-inline
          input#invalidCheck.form-check-input(type='checkbox', value='expertise-7')
          label.form-check-label(for='invalidCheck')
            | Conflict within your group
        br
        .form-check.form-check-inline
          input#invalidCheck.form-check-input(type='checkbox', value='expertise-8')
          label.form-check-label(for='invalidCheck')
            | Managing expectations of sponsored refugees and the group
        br
        .form-check.form-check-inline
          input#invalidCheck.form-check-input(type='checkbox', value='expertise-9')
          label.form-check-label(for='invalidCheck')
            | Transitioning out of sponsorship
        br
    .form-group.row
      button.btn.btn-primary(type='Submit')
        | Search


