extends layout

block content
  h1 Welcome
  p.lead Team 1 Project
  hr
  .card-deck
  .card(style='width:2110px;height:420px;background-color:#00c8cc;margin-left: -500px;')
    .card-body.text-center
      p.card-text Welcome to our website!
      
  br 
  br
  .row
  .col-sm-6
    .card(style='width:250px;height:300px;background-color:#00c8cc;float: left;')
      .card-body
        h5.card-title About us
        p.card-text Learn more about GRSI.
        a.btn.btn-primary(href='#') Click here
  .col-sm-6
    .card(style='width:250px;height:300px;background-color:#00c8cc; float: right;')
      .card-body
        h5.card-title Sponsorship
        p.card-text Over hundreds of people get selected for sponsoring.
        a.btn.btn-primary(href='#') Become a sponsor
      br
    

