extends layout

block content
  .pb-2.mt-2.mb-4.border-bottom
    h3(style='color: #00c8cc') Find A Mentor: 
    p Pick a mentor and await their approval! 

  .container
    .row
        .card.text-center(style='width: 18rem; height: 18rem;  padding: 2rem; margin:1rem;')
            .card-body
            h5.card-title Pic
            p.card-text bio, expertise, country, language, sponsors
        |
        .card.text-center(style='width: 18rem; height: 18rem; padding: 2rem; margin:1rem;')
            .card-body
            h5.card-title Pic
            p.card-text bio, expertise, country, language, sponsors
        .card.text-center(style='width: 18rem; height: 18rem; padding:2rem; margin:1rem;')
            .card-body
            h5.card-title Pic
            p.card-text bio, expertise, country, language, sponsors
  
